@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --color-cream: #EAD7CC;
  --color-orange-red: #FF4D00;
  --color-black: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-black);
  color: #FFFFFF;
  scrollbar-width: none;/* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Chrome, Safari and Opera */
/* body::-webkit-scrollbar {
  display: none;
} */

.font-anton {
  font-family: 'Anton', sans-serif;
  font-weight: 100;
}

.font-datatype {
  font-family: 'Datatype', sans-serif;
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
